.product-default a {
    display: block;
    white-space: normal;
    text-align: center;
}

.table.table-cart tr th {
    font-weight: bold !important;
}

.table.table-cart .bootstrap-touchspin.input-group {
    margin-right: auto !important;
}

.paction:hover,
.form-footer .btn:hover,
.btn .btn-primary:hover,
.table.table-cart tfoot .btn:hover,
.widget-newsletter .btn:hover,
.product-default .btn-add-cart:hover {
    background: #fff;
    color: #f5c524 !important;
}

.product-intro.owl-carousel.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 1rem;
}
.cart-dropdown .dropdown-toggle .cart-count {
    padding: 3px 2px 2px;
    height: auto;
}

@media (min-width: 768px) {
    .product-details > figure a {
        max-height: 202px;
        min-height: 202px;
    }
}

@media (max-width: 768px) {
    .promo-text-cover {
        position: static;
    }
}

