.product-default a {
    display: block;
    white-space: normal;
    text-align: center;
}

.table.table-cart tr th {
    font-weight: bold !important;
}

.table.table-cart .bootstrap-touchspin.input-group {
    margin-right: auto !important;
}

.paction:hover,
.form-footer .btn:hover,
.btn .btn-primary:hover,
.table.table-cart tfoot .btn:hover,
.widget-newsletter .btn:hover,
.product-default .btn-add-cart:hover {
    background: #fff;
    color: #f5c524 !important;
}

.product-intro.owl-carousel.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 4rem;
}
.cart-dropdown .dropdown-toggle .cart-count {
    padding: 3px 2px 2px;
    height: auto;
}

.typeahead {
    width: 100%;
    margin-top: 5px;
}
.typeahead .dropdown-item {
    padding: 10px;
    font-size: 14px;
}
.typeahead.dropdown-menu li:hover a,
.typeahead.dropdown-menu li.active a,
.typeahead.dropdown-menu li:hover,
.typeahead.dropdown-menu li.active {
    background-color: #f5c524;
}
.typeahead.dropdown-menu li:hover strong,
.typeahead.dropdown-menu li.active strong,
.typeahead.dropdown-menu li:hover a,
.typeahead.dropdown-menu li.active a {
    /*color: white;*/
}

.category-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #f5c524;
}

.product-single-qty {
    max-width: 88px;
}
.bootstrap-touchspin.input-group {
    max-width: 85px;
}
.bootstrap-touchspin .form-control {
    max-width: 63px;
}

@media (min-width: 768px) {
    .product-details > figure a {
        max-height: 202px;
        min-height: 202px;
    }
}

@media (max-width: 768px) {
    .promo-text-cover {
        position: static;
    }
    .sticky-wrapper {
        display: none;
    }
}
.side-custom-menu .side-menu-body a .fas {
    color: #F5C524;
}

.side-custom-menu .side-menu-body a:active .fas,
.side-custom-menu .side-menu-body a:focus .fas,
.side-custom-menu .side-menu-body a:hover .fas{
    color: #ffffff;
}
.side-custom-menu .side-menu-body a .fa-plus {
    display: none;
}
.side-custom-menu .side-menu-body a .fa-minus {
    display: inline-block;
}
.side-custom-menu .side-menu-body a.collapsed .fa-plus {
    display: inline-block;
}
.side-custom-menu .side-menu-body a.collapsed .fa-minus {
    display: none;
}
.side-custom-menu .side-menu-body li div.collapse ul li a{
    color: #F5C524;
}
